Package: apt-transport-s3
Version: 1.0.1
Architecture: amd64
Maintainer: Marcin Kulisz <marcin@bashton.com>
Installed-Size: 16
Section: admin
Priority: optional
Homepage: https://github.com/BashtonLtd/apt-transport-s3
Description: an APT transport for communicating with Amazon S3
 This package contains the APT amazon s3 transport. It makes it possible to
 use
 'deb s3://BUCKET-NAME.s3.amazonaws.com/BUCKETNAME prod main'
 type lines in your sources.list file using AWS IAM role permissions.
